<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Contact</title>
</head>
<body>

<h1>Create Contact</h1>

<form action="/create" method="post">
    <div>
        <label for="fistName">First name</label>
        <input type="text" id="fistName"/>
    </div>
    <div>
        <label for="lastName">Last name</label>
        <input type="text" id="lastName"/>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email"/>
    </div>
    <div>
        <label for="phone">Phone</label>
        <input type="tel" id="phone"/>
    </div>
    <button type="submit">Save</button>
</form>

</body>
</html>
