<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:if="!isEdit">Create Contact</title>
    <title th:if="isEdit">Edit Contact</title>
</head>
<body>

<h1 th:if="!isEdit">Create Contact</h1>
<h1 th:if="isEdit">Edit Contact <span th:text="${contact.id()}">13</span></h1>

<form action="/create" method="post">
    <input type="hidden" name="id" value="0" th:value="${contact.id()}"/>
    <div>
        <label>
            First name
            <input type="text" name="firstName"/>
        </label>
    </div>
    <div>
        <label>
            Last name
            <input type="text" name="lastName"/>
        </label>
    </div>
    <div>
        <label>
            Email
            <input type="email" name="email"/>
        </label>
    </div>
    <div>
        <label>
            Phone
            <input type="tel" name="phone"/>
        </label>
    </div>
    <button type="submit">Save</button>
</form>

</body>
</html>
